* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #F0F7F4;
}

body {
    background: #F0F7F4;
    zoom: 1.2;
}

main { 
    margin-top: 2rem;
}

#calc {
    background: #007EA7;
    width: 20rem;
    min-height: 30rem;
    margin: 0 auto;
    border-radius: 5%;
    padding: 1.5rem;
}

#display-container {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    
}

#display-container span {
    font-size: 1.5rem;
}

#history-container, #input-container {
    min-height: 1.5rem;
    font-weight: bold;
    width: 95%;    
    text-align: right;
    margin: 0 auto;
    overflow-wrap: break-word;    
    margin: .1rem auto
}

#history-container {
    border-bottom: .5px solid #050404;
}

#buttons-container {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    width: 100%;
}

#buttons {
    display: grid;    
    grid-template-columns: repeat(4, 4rem);
    grid-template-rows: repeat(5, 4rem);
    gap: 0.1rem;
}
 
button {
    font-size: 1.5rem;
    padding: 1rem;
    background: #003459;
    border: none;
    text-align: center; 
    border-radius: 5%;
    cursor: pointer;    
}


#zero {
    grid-column: span 2;
}

#equal {
    grid-row: span 2;
    background: #D3AB9E;
    color: #050404;
}

#clear {
    color: #8E3B46;
}

#backspace {
    font-size: 100%
}

button:focus {
    outline: none;
}

button:hover {
    background: #013d68;
    transform: scale(1.1);
    transition: .1s;
}

button:active {
    color: #050404;
    transform: scale(.8);
    transition: .2s;
}

#equal:hover {
    background: rgb(218, 157, 137);
}

#backspace:hover, #divide:hover, #multiply:hover, #subtract:hover, #add:hover, .selected {
    background: #8E3B46;
}